{"openapi":"3.1.0","info":{"title":"eQuadras API - Gestão e Agendamento Esportivo","description":"Documentação oficial das APIs REST da plataforma eQuadras para integrações de sistemas parceiros, bots e clientes de API. Todos os endpoints incluem exemplos reais de requisição e resposta.","contact":{"name":"Suporte Técnico eQuadras","url":"https://github.com/GuilhermeAizzaSano/eQuadras","email":"contato@equadras.app"},"license":{"name":"MIT License","url":"https://opensource.org/licenses/MIT"},"version":"v1.0.0"},"servers":[{"url":"https://equadras.app","description":"Servidor de Produção (HTTPS)"},{"url":"/","description":"Servidor Relativo (Mesma Origem)"},{"url":"http://localhost:8080","description":"Ambiente Local (Desenvolvimento)"}],"security":[{"BearerAuth":[]},{"ApiKeyAuth":[]}],"tags":[{"name":"Usuários - API","description":"Autenticação por cookie de sessão, perfil, chave de API pessoal e administração cadastral (Master Admin)."},{"name":"Quadras - API","description":"Consulta de quadras (resumida ou completa), fotos, status operacional e gestão pelo administrador dono."},{"name":"Agendamentos - API","description":"Criação de reservas com lock pessimista, agenda, contadores, horários disponíveis e integração com Bot."},{"name":"Bloqueios - API","description":"Bloqueios administrativos de horários para torneios e manutenção."},{"name":"Pagamentos - API","description":"Status de pagamento Pix, simulação de aprovação e webhook do Mercado Pago."},{"name":"Notificações - API","description":"Histórico de notificações do administrador e stream SSE em tempo real."},{"name":"Auditoria & Logs - API","description":"Trilha de auditoria do sistema (exclusivo do Master Admin)."}],"paths":{"/api/usuarios/{id}":{"get":{"tags":["Usuários - API"],"summary":"Buscar usuário por ID","description":"Papéis: CLIENT ou ADMIN. O próprio usuário ou o Master Admin. Outro usuário recebe 403; ID inexistente, 404 `USUARIO_NAO_ENCONTRADO`.","operationId":"buscarPorId","parameters":[{"name":"id","in":"path","description":"ID do usuário (`id_usuario`)","required":true,"schema":{"type":"integer","format":"int64"},"example":10}],"responses":{"200":{"description":"Dados do usuário","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsuarioResponseDTO"},"example":{"id_usuario":10,"nome_usuario":"Arthur Prado","email_usuario":"arthur.prado@email.com","phone_usuario":"(11) 99999-8888","role":"CLIENT","criadoEm":"2026-09-04T10:00:00","masterAdmin":false}}}},"404":{"description":"Recurso Não Encontrado","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/recurso-nao-encontrado","title":"Recurso Não Encontrado","status":404,"detail":"Usuário não encontrado para o ID: 99","instance":"/api/usuarios/{id}","code":"USUARIO_NAO_ENCONTRADO","timestamp":"2026-09-29T14:30:00.123456Z"}}}},"403":{"description":"Acesso Negado","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/acesso-negado","title":"Acesso Negado","status":403,"detail":"Você não tem permissão para visualizar os dados de outro usuário.","instance":"/api/usuarios/{id}","code":"ACESSO_NEGADO","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}},"put":{"tags":["Usuários - API"],"summary":"Editar usuário existente (Master Admin)","description":"Papel: ADMIN, exigindo Master Admin. Atualiza nome, e-mail, telefone, `role` e, se `nova_senha` vier, a senha. O e-mail do Master Admin não pode ser alterado (400 `OPERACAO_NAO_PERMITIDA`).","operationId":"editar","parameters":[{"name":"id","in":"path","description":"ID do usuário (`id_usuario`)","required":true,"schema":{"type":"integer","format":"int64"},"example":10}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsuarioEdicaoDTO"},"example":{"nome_usuario":"Arthur Prado Silva","email_usuario":"arthur.silva@email.com","phone_usuario":"(11) 99999-9999","role":"CLIENT","nova_senha":"NovaSenha@456"}}},"required":true},"responses":{"200":{"description":"Usuário atualizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsuarioResponseDTO"},"example":{"id_usuario":10,"nome_usuario":"Arthur Prado Silva","email_usuario":"arthur.silva@email.com","phone_usuario":"(11) 99999-9999","role":"CLIENT","criadoEm":"2026-09-04T10:00:00","masterAdmin":false}}}},"422":{"description":"Dados Inválidos","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/validacao","title":"Dados Inválidos","status":422,"detail":"Dados inválidos: Nome: O nome deve ter entre 3 e 80 caracteres","instance":"/api/usuarios/{id}","code":"ERRO_VALIDACAO","timestamp":"2026-09-29T14:30:00.123456Z","camposIncorretos":[{"campo":"Campo","mensagem":"Mensagem de validação do campo"}]}}}},"404":{"description":"Recurso Não Encontrado","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/recurso-nao-encontrado","title":"Recurso Não Encontrado","status":404,"detail":"Usuário não encontrado para o ID: 99","instance":"/api/usuarios/{id}","code":"USUARIO_NAO_ENCONTRADO","timestamp":"2026-09-29T14:30:00.123456Z"}}}},"400":{"description":"Regra de Negócio Violada","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"examples":{"EMAIL_DUPLICADO":{"summary":"E-mail já cadastrado por outro usuário.","value":{"type":"https://api.equadras.com/erros/regra-negocio-violada","title":"Regra de Negócio Violada","status":400,"detail":"E-mail já cadastrado por outro usuário.","instance":"/api/usuarios/{id}","code":"EMAIL_DUPLICADO","timestamp":"2026-09-29T14:30:00.123456Z"}},"OPERACAO_NAO_PERMITIDA":{"summary":"O e-mail do Administrador Geral não pode ser modificado.","value":{"type":"https://api.equadras.com/erros/regra-negocio-violada","title":"Regra de Negócio Violada","status":400,"detail":"O e-mail do Administrador Geral não pode ser modificado.","instance":"/api/usuarios/{id}","code":"OPERACAO_NAO_PERMITIDA","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}},"403":{"description":"Acesso Negado","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/acesso-negado","title":"Acesso Negado","status":403,"detail":"Acesso restrito ao Administrador Geral do sistema.","instance":"/api/usuarios/{id}","code":"ACESSO_NEGADO","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}},"delete":{"tags":["Usuários - API"],"summary":"Excluir usuário (Master Admin)","description":"Papel: ADMIN, exigindo Master Admin. Remove o usuário. A conta do Master Admin não pode ser excluída (400 `OPERACAO_NAO_PERMITIDA`).","operationId":"excluir","parameters":[{"name":"id","in":"path","description":"ID do usuário (`id_usuario`)","required":true,"schema":{"type":"integer","format":"int64"},"example":10}],"responses":{"204":{"description":"Usuário excluído"},"404":{"description":"Recurso Não Encontrado","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/recurso-nao-encontrado","title":"Recurso Não Encontrado","status":404,"detail":"Usuário não encontrado para o ID: 99","instance":"/api/usuarios/{id}","code":"USUARIO_NAO_ENCONTRADO","timestamp":"2026-09-29T14:30:00.123456Z"}}}},"400":{"description":"Regra de Negócio Violada","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/regra-negocio-violada","title":"Regra de Negócio Violada","status":400,"detail":"A conta do Administrador Geral não pode ser excluída.","instance":"/api/usuarios/{id}","code":"OPERACAO_NAO_PERMITIDA","timestamp":"2026-09-29T14:30:00.123456Z"}}}},"403":{"description":"Acesso Negado","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/acesso-negado","title":"Acesso Negado","status":403,"detail":"Acesso restrito ao Administrador Geral do sistema.","instance":"/api/usuarios/{id}","code":"ACESSO_NEGADO","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}}},"/api/quadras/{id}":{"get":{"tags":["Quadras - API"],"summary":"Buscar quadra por ID","description":"Papéis: CLIENT ou ADMIN. Retorna a quadra completa, com fotos e disponibilidades semanais. ID inexistente devolve 400 (`IllegalArgumentException` no service, não 404).","operationId":"buscarPorId_1","parameters":[{"name":"id","in":"path","description":"ID da quadra (`id_quadra`)","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"Quadra completa","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuadraResponseDTO"},"example":{"id_quadra":1,"nome":"Arena Gol Society","tipoEsporte":"FUTEBOL","valorHora":120.0,"ativa":true,"cep":"15000-000","logradouro":"Av. Brasil, 1500","bairro":"Jardim das Flores","cidade":"São José do Rio Preto","estado":"SP","latitude":-20.8113,"longitude":-49.3758,"descricao":"Grama sintética padrão FIFA com iluminação em LED e vestiários.","dataLimiteAgendamento":"2026-12-31","fotos":["/uploads/quadras/3f2a9c1e-7b4d-4e8a-9c21-5d6f7e8a9b0c.jpg"],"disponibilidades":[{"diaSemana":"MONDAY","horaInicio":"08:00:00","horaFim":"22:00:00"}],"versao":3}}}},"400":{"description":"Requisição Inválida","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/bad-request","title":"Requisição Inválida","status":400,"detail":"A quadra informada não foi encontrada.","instance":"/api/quadras/{id}","code":"REQUISICAO_INVALIDA","timestamp":"2026-09-29T14:30:00.123456Z"}}}},"401":{"description":"Não Autorizado","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"status":401,"title":"Não Autorizado","detail":"Acesso não autorizado: credencial ausente, expirada ou inválida."}}}}}},"put":{"tags":["Quadras - API"],"summary":"Atualizar quadra (Admin)","description":"Papel: ADMIN dono da quadra ou Master Admin. Substitui os dados cadastrais e as disponibilidades. Controle de concorrência: o corpo deve trazer `versao` (a lida em `QuadraResponseDTO.versao`); ausente devolve 400 `VERSAO_OBRIGATORIA`; diferente da atual, 409 `CONFLITO_VERSAO`. `disponibilidades`: omitida ou `null` mantém os horários atuais; uma lista substitui todos; lista vazia (`[]`) apaga todos e a quadra fica fechada em todos os dias (o padrão 06:00–23:00 só vale no cadastro).","operationId":"editar_1","parameters":[{"name":"id","in":"path","description":"ID da quadra (`id_quadra`)","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuadraCriacaoDTO"},"example":{"nome":"Arena Gol Society","tipoEsporte":"FUTEBOL","valorHora":130.0,"cep":"15000-000","logradouro":"Av. Brasil, 1500","bairro":"Jardim das Flores","cidade":"São José do Rio Preto","estado":"SP","latitude":-20.8113,"longitude":-49.3758,"descricao":"Grama sintética padrão FIFA com iluminação em LED e vestiários.","dataLimiteAgendamento":"2026-12-31","fotos":["/uploads/quadras/3f2a9c1e-7b4d-4e8a-9c21-5d6f7e8a9b0c.jpg"],"disponibilidades":[{"diaSemana":"MONDAY","horaInicio":"08:00:00","horaFim":"22:00:00"}],"versao":3}}},"required":true},"responses":{"200":{"description":"Quadra atualizada (a `versao` incrementa)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuadraResponseDTO"},"example":{"id_quadra":1,"nome":"Arena Gol Society","tipoEsporte":"FUTEBOL","valorHora":120.0,"ativa":true,"cep":"15000-000","logradouro":"Av. Brasil, 1500","bairro":"Jardim das Flores","cidade":"São José do Rio Preto","estado":"SP","latitude":-20.8113,"longitude":-49.3758,"descricao":"Grama sintética padrão FIFA com iluminação em LED e vestiários.","dataLimiteAgendamento":"2026-12-31","fotos":["/uploads/quadras/3f2a9c1e-7b4d-4e8a-9c21-5d6f7e8a9b0c.jpg"],"disponibilidades":[{"diaSemana":"MONDAY","horaInicio":"08:00:00","horaFim":"22:00:00"}],"versao":3}}}},"400":{"description":"Regra de Negócio Violada","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"examples":{"VERSAO_OBRIGATORIA":{"summary":"Não foi possível salvar a quadra. Recarregue a página e tente de novo.","value":{"type":"https://api.equadras.com/erros/regra-negocio-violada","title":"Regra de Negócio Violada","status":400,"detail":"Não foi possível salvar a quadra. Recarregue a página e tente de novo.","instance":"/api/quadras/{id}","code":"VERSAO_OBRIGATORIA","timestamp":"2026-09-29T14:30:00.123456Z"}},"REQUISICAO_INVALIDA":{"summary":"A quadra informada não foi encontrada.","value":{"type":"https://api.equadras.com/erros/bad-request","title":"Requisição Inválida","status":400,"detail":"A quadra informada não foi encontrada.","instance":"/api/quadras/{id}","code":"REQUISICAO_INVALIDA","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}},"409":{"description":"Regra de Negócio Violada","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/regra-negocio-violada","title":"Regra de Negócio Violada","status":409,"detail":"Esta quadra foi alterada por outra pessoa. Recarregue os dados e tente de novo.","instance":"/api/quadras/{id}","code":"CONFLITO_VERSAO","timestamp":"2026-09-29T14:30:00.123456Z"}}}},"422":{"description":"Dados Inválidos","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/validacao","title":"Dados Inválidos","status":422,"detail":"Dados inválidos: Nome: O nome deve ter entre 3 e 100 caracteres","instance":"/api/quadras/{id}","code":"ERRO_VALIDACAO","timestamp":"2026-09-29T14:30:00.123456Z","camposIncorretos":[{"campo":"Campo","mensagem":"Mensagem de validação do campo"}]}}}},"403":{"description":"Acesso Negado","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/acesso-negado","title":"Acesso Negado","status":403,"detail":"Apenas o administrador dono da quadra ou o Master Admin pode editá-la.","instance":"/api/quadras/{id}","code":"ACESSO_NEGADO","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}},"delete":{"tags":["Quadras - API"],"summary":"Excluir quadra (Admin)","description":"Papel: ADMIN dono da quadra ou Master Admin. Remove a quadra somente se não houver agendamentos vinculados; caso contrário devolve 400 `OPERACAO_NAO_PERMITIDA` (recomendado: inativar via `PATCH /status`).","operationId":"excluir_1","parameters":[{"name":"id","in":"path","description":"ID da quadra (`id_quadra`)","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"204":{"description":"Quadra excluída"},"400":{"description":"Operação Não Permitida","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"examples":{"OPERACAO_NAO_PERMITIDA":{"summary":"Esta quadra não pode ser excluída porque possui agendamentos vinculados (histórico de reservas). Recomendamos inativar a quadra.","value":{"type":"https://api.equadras.com/erros/operacao-invalida","title":"Operação Não Permitida","status":400,"detail":"Esta quadra não pode ser excluída porque possui agendamentos vinculados (histórico de reservas). Recomendamos inativar a quadra.","instance":"/api/quadras/{id}","code":"OPERACAO_NAO_PERMITIDA","timestamp":"2026-09-29T14:30:00.123456Z"}},"REQUISICAO_INVALIDA":{"summary":"A quadra informada não foi encontrada.","value":{"type":"https://api.equadras.com/erros/bad-request","title":"Requisição Inválida","status":400,"detail":"A quadra informada não foi encontrada.","instance":"/api/quadras/{id}","code":"REQUISICAO_INVALIDA","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}},"403":{"description":"Acesso Negado","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/acesso-negado","title":"Acesso Negado","status":403,"detail":"Apenas o administrador dono da quadra ou o Master Admin pode excluí-la.","instance":"/api/quadras/{id}","code":"ACESSO_NEGADO","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}}},"/api/notificacoes/{id}/ler":{"put":{"tags":["Notificações - API"],"summary":"Marcar notificação como lida","description":"Papel: ADMIN. Marca uma notificação do próprio administrador como lida. Notificação de outro usuário devolve 400. Responde 204 sem corpo.","operationId":"marcarComoLida","parameters":[{"name":"id","in":"path","description":"ID da notificação","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"204":{"description":"Notificação marcada como lida"},"400":{"description":"Requisição Inválida","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/bad-request","title":"Requisição Inválida","status":400,"detail":"Você não tem permissão para alterar esta notificação.","instance":"/api/notificacoes/{id}/ler","code":"REQUISICAO_INVALIDA","timestamp":"2026-09-29T14:30:00.123456Z"}}}},"403":{"description":"Acesso Proibido","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"status":403,"title":"Acesso Proibido","detail":"Acesso proibido: sua credencial não possui permissão para executar esta operação."}}}}}}},"/api/notificacoes/ler-todas":{"put":{"tags":["Notificações - API"],"summary":"Marcar todas as notificações como lidas","description":"Papel: ADMIN. Marca como lidas todas as notificações do administrador autenticado. Responde 204 sem corpo.","operationId":"marcarTodasComoLidas","responses":{"204":{"description":"Todas as notificações do administrador marcadas como lidas"},"403":{"description":"Acesso Proibido","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"status":403,"title":"Acesso Proibido","detail":"Acesso proibido: sua credencial não possui permissão para executar esta operação."}}}}}}},"/api/usuarios/logout":{"post":{"tags":["Usuários - API"],"summary":"Realizar logout","description":"Rota pública (funciona sem sessão). Se houver sessão, revoga os tokens do usuário, registra `LOGOUT` na auditoria e expira o cookie `equadras_session`. Responde 204 sem corpo, sempre.","operationId":"logout","responses":{"204":{"description":"Sessão encerrada. Sem corpo; o cookie de sessão é expirado.","headers":{"Set-Cookie":{"description":"Cookie `equadras_session` com Max-Age=0, removendo a sessão do navegador.","schema":{"type":"string"}}}}},"security":[]}},"/api/usuarios/login":{"post":{"tags":["Usuários - API"],"summary":"Realizar login","description":"Rota pública. Autentica por e-mail e senha, grava o JWT no cookie HttpOnly `equadras_session` (header `Set-Cookie`) e devolve no corpo apenas o perfil do usuário (`UsuarioResponseDTO`); o token NÃO vem no corpo. Efeito colateral: falhas consecutivas por e-mail (limite de 5) bloqueiam novas tentativas com 429 e `Retry-After`; login bem-sucedido zera o contador.","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsuarioLoginDTO"},"example":{"email_usuario":"arthur.prado@email.com","senha_usuario":"SenhaSegura@123"}}},"required":true},"responses":{"200":{"description":"Login realizado. O corpo traz o perfil; o JWT vai apenas no cookie HttpOnly `equadras_session`.","headers":{"Set-Cookie":{"description":"Cookie de sessão `equadras_session` (HttpOnly, SameSite=Lax, Path=/).","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object"},"example":{"id_usuario":10,"nome_usuario":"Arthur Prado","email_usuario":"arthur.prado@email.com","phone_usuario":"(11) 99999-8888","role":"CLIENT","criadoEm":"2026-09-04T10:00:00","masterAdmin":false}}}},"422":{"description":"Dados Inválidos","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/validacao","title":"Dados Inválidos","status":422,"detail":"Dados inválidos: E-mail: Formato de e-mail inválido","instance":"/api/usuarios/login","code":"ERRO_VALIDACAO","timestamp":"2026-09-29T14:30:00.123456Z","camposIncorretos":[{"campo":"Campo","mensagem":"Mensagem de validação do campo"}]}}}},"400":{"description":"Regra de Negócio Violada","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/regra-negocio-violada","title":"Regra de Negócio Violada","status":400,"detail":"E-mail ou senha incorretos.","instance":"/api/usuarios/login","code":"CREDENCIAIS_INVALIDAS","timestamp":"2026-09-29T14:30:00.123456Z"}}}},"429":{"description":"Too Many Requests","headers":{"Retry-After":{"description":"Segundos até nova tentativa de login para este e-mail.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"about:blank","title":"Too Many Requests","status":429,"detail":"Muitas tentativas falhas de login para esta conta. Tente novamente em 300 segundos."}}}}},"security":[]}},"/api/usuarios/api-key/regenerar":{"post":{"tags":["Usuários - API"],"summary":"Gerar ou regenerar API-KEY","description":"Papéis: CLIENT ou ADMIN. Emite uma chave opaca `eq_...`, invalidando a anterior imediatamente. A chave em texto plano só aparece nesta resposta (`Cache-Control: no-store`). Registra IP e User-Agent. Limite: 5 regenerações por minuto por conta (429 com `Retry-After: 60`).","operationId":"regenerarApiKey","responses":{"200":{"description":"Nova chave emitida. A chave em texto plano só aparece nesta resposta.","headers":{"Cache-Control":{"description":"`no-store, no-cache, must-revalidate, max-age=0`: a resposta não pode ser guardada em cache.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"type":"object"},"example":{"apiKey":"eq_9f8e7d6c5b4a39281706f5e4d3c2b1a0","last4":"b1a0","criadaEm":"2026-09-29T14:30:00Z"}}}},"401":{"description":"Não Autorizado","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"status":401,"title":"Não Autorizado","detail":"Acesso não autorizado: credencial ausente, expirada ou inválida."}}}},"429":{"description":"Too Many Requests","headers":{"Retry-After":{"description":"Sempre 60 (segundos).","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"status":429,"title":"Too Many Requests","detail":"Limite de 5 regenerações por minuto atingido para esta conta. Aguarde antes de tentar novamente."}}}}}}},"/api/usuarios":{"get":{"tags":["Usuários - API"],"summary":"Listar todos os usuários (Master Admin)","description":"Variante legada sem `page`: lista até 200 usuários, limite aplicado no SQL e sem aviso ao cliente. Ver GET com `page` para a versão paginada. Papel: Master Admin.","operationId":"listarUsuariosPaginado","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"Página de usuários (com `page`). Sem `page` o código devolve uma lista simples de até 200 usuários.","content":{"application/json":{"schema":{"oneOf":[{"type":"array","items":{"$ref":"#/components/schemas/UsuarioResponseDTO"}},{"$ref":"#/components/schemas/PageResponseUsuarioResponseDTO"}]},"example":{"content":[{"id_usuario":10,"nome_usuario":"Arthur Prado","email_usuario":"arthur.prado@email.com","phone_usuario":"(11) 99999-8888","role":"CLIENT","criadoEm":"2026-09-04T10:00:00","masterAdmin":false}],"page":0,"size":10,"totalElements":1,"totalPages":1}}}},"403":{"description":"Acesso Negado","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/acesso-negado","title":"Acesso Negado","status":403,"detail":"Acesso restrito ao Administrador Geral do sistema.","instance":"/api/usuarios","code":"ACESSO_NEGADO","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}},"post":{"tags":["Usuários - API"],"summary":"Cadastrar novo usuário (Master Admin)","description":"Papel: ADMIN, e o service exige que seja o Master Admin (outro ADMIN recebe 403). Cria conta CLIENT ou ADMIN (`role` opcional). E-mail duplicado devolve 400 `EMAIL_DUPLICADO`; telefone repetido devolve 409 `TELEFONE_EM_USO`.","operationId":"cadastrar","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsuarioCriacaoDTO"},"example":{"nome_usuario":"Carlos Eduardo","email_usuario":"carlos.eduardo@email.com","senha_usuario":"SenhaForte@123","phone_usuario":"(11) 98888-7777","role":"CLIENT"}}},"required":true},"responses":{"201":{"description":"Usuário cadastrado","content":{"application/json":{"example":{"id_usuario":12,"nome_usuario":"Carlos Eduardo","email_usuario":"carlos.eduardo@email.com","phone_usuario":"(11) 98888-7777","role":"CLIENT","criadoEm":"2026-09-29T09:15:00","masterAdmin":false}}}},"422":{"description":"Dados Inválidos","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/validacao","title":"Dados Inválidos","status":422,"detail":"Dados inválidos: E-mail: Formato de e-mail inválido","instance":"/api/usuarios","code":"ERRO_VALIDACAO","timestamp":"2026-09-29T14:30:00.123456Z","camposIncorretos":[{"campo":"Campo","mensagem":"Mensagem de validação do campo"}]}}}},"400":{"description":"Regra de Negócio Violada","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/regra-negocio-violada","title":"Regra de Negócio Violada","status":400,"detail":"E-mail já cadastrado no sistema.","instance":"/api/usuarios","code":"EMAIL_DUPLICADO","timestamp":"2026-09-29T14:30:00.123456Z"}}}},"409":{"description":"Regra de Negócio Violada","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/regra-negocio-violada","title":"Regra de Negócio Violada","status":409,"detail":"Telefone já cadastrado para outro usuário.","instance":"/api/usuarios","code":"TELEFONE_EM_USO","timestamp":"2026-09-29T14:30:00.123456Z"}}}},"403":{"description":"Acesso Negado","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/acesso-negado","title":"Acesso Negado","status":403,"detail":"Acesso restrito ao Administrador Geral do sistema.","instance":"/api/usuarios","code":"ACESSO_NEGADO","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}}},"/api/quadras/{quadraId}/desbloquear":{"post":{"tags":["Bloqueios - API"],"summary":"Desbloquear horários ou dia (Admin)","description":"Papel: ADMIN dono da quadra ou Master Admin. Informe `bloqueioId` OU `data` (com `horaInicio`/`horaFim` opcionais para desbloquear só um intervalo). Sem nenhum dos dois, 400. Devolve `{mensagem, totalRemovidos}` com quantos bloqueios foram removidos.","operationId":"desbloquear","parameters":[{"name":"quadraId","in":"path","description":"ID da quadra (`id_quadra`)","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DesbloqueioHorarioDTO"},"example":{"bloqueioId":5,"data":"2026-10-12","horaInicio":"14:00:00","horaFim":"16:00:00"}}},"required":true},"responses":{"200":{"description":"Resultado do desbloqueio","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}},"example":{"mensagem":"Horários desbloqueados com sucesso.","totalRemovidos":1}}}},"400":{"description":"Requisição Inválida","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/bad-request","title":"Requisição Inválida","status":400,"detail":"Informe o ID do bloqueio ou a data a ser desbloqueada.","instance":"/api/quadras/{quadraId}/desbloquear","code":"REQUISICAO_INVALIDA","timestamp":"2026-09-29T14:30:00.123456Z"}}}},"403":{"description":"Acesso Negado","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/acesso-negado","title":"Acesso Negado","status":403,"detail":"Apenas o administrador dono da quadra ou o Master Admin pode remover bloqueios.","instance":"/api/quadras/{quadraId}/desbloquear","code":"ACESSO_NEGADO","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}}},"/api/quadras/{id}/fotos":{"get":{"tags":["Quadras - API"],"summary":"Consultar fotos da quadra","description":"Papéis: CLIENT ou ADMIN. Devolve a galeria por quadra. O formato depende dos parâmetros:\n- Com ID (path `/{id}/fotos`, ou `id`/`quadraId` na query; precedência: path, depois `id`, depois `quadraId`): um objeto `QuadraFotosResponseDTO`; ID inexistente devolve 400.\n- Sem ID e sem nenhum filtro de texto (`nome`, `tipoEsporte`, `cidade`, `bairro`): lista com TODAS as quadras (até 200).\n- Com filtro e exatamente uma correspondência: objeto único.\n- Com filtro e várias correspondências: lista.\n- Com filtro e nenhuma correspondência: `{\"fotos\": []}`.\nAliases: `nomeQuadra` vale como `nome`, e `esporte` como `tipoEsporte`; se ambos vierem, o principal (`nome`/`tipoEsporte`) vence.","operationId":"consultarFotos","parameters":[{"name":"id","in":"path","description":"ID da quadra no path (rota `/{id}/fotos`). Tem precedência sobre `id` e `quadraId` da query.","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"name":"id","in":"query","description":"ID da quadra na query. Usado se não houver ID no path.","required":false,"schema":{"type":"integer","format":"int64"},"example":1},{"name":"quadraId","in":"query","description":"Alias de `id`. Usado se não houver ID no path nem `id` na query.","required":false,"schema":{"type":"integer","format":"int64"},"example":1},{"name":"nome","in":"query","description":"Filtra por parte do nome da quadra.","required":false,"schema":{"type":"string"},"example":"Arena"},{"name":"nomeQuadra","in":"query","description":"Alias de `nome`. Só vale se `nome` estiver vazio.","required":false,"schema":{"type":"string"},"example":"Arena"},{"name":"tipoEsporte","in":"query","description":"Filtra pelo tipo de esporte (FUTEBOL, FUTSAL, VOLEI, BEACH_TENNIS, BASQUETE, TENIS).","required":false,"schema":{"type":"string"},"example":"FUTEBOL"},{"name":"esporte","in":"query","description":"Alias de `tipoEsporte`. Só vale se `tipoEsporte` estiver vazio.","required":false,"schema":{"type":"string"},"example":"FUTEBOL"},{"name":"cidade","in":"query","description":"Filtra pela cidade.","required":false,"schema":{"type":"string"},"example":"São José do Rio Preto"},{"name":"bairro","in":"query","description":"Filtra pelo bairro.","required":false,"schema":{"type":"string"},"example":"Jardim das Flores"}],"responses":{"200":{"description":"Uma quadra: com `id` (path ou query) ou quando o filtro corresponde a exatamente uma quadra.","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/QuadraFotosResponseDTO"},{"type":"array","items":{"$ref":"#/components/schemas/QuadraFotosResponseDTO"}},{"$ref":"#/components/schemas/FotosSemResultado"}]},"examples":{"quadraUnica":{"summary":"Uma quadra: com `id` (path ou query) ou quando o filtro corresponde a exatamente uma quadra.","value":{"id_quadra":1,"nome":"Arena Gol Society","tipoEsporte":"FUTEBOL","cidade":"São José do Rio Preto","bairro":"Jardim das Flores","fotos":["/uploads/quadras/3f2a9c1e-7b4d-4e8a-9c21-5d6f7e8a9b0c.jpg"]}},"lista":{"summary":"Lista de quadras: sem filtro (todas, até 200) ou filtro com várias correspondências.","value":[{"id_quadra":1,"nome":"Arena Gol Society","tipoEsporte":"FUTEBOL","cidade":"São José do Rio Preto","bairro":"Jardim das Flores","fotos":["/uploads/quadras/3f2a9c1e-7b4d-4e8a-9c21-5d6f7e8a9b0c.jpg"]}]},"semResultado":{"summary":"Filtro sem nenhuma quadra correspondente.","value":{"fotos":[]}}}}}},"400":{"description":"Requisição Inválida","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/bad-request","title":"Requisição Inválida","status":400,"detail":"A quadra informada não foi encontrada.","instance":"/api/quadras/{id}/fotos","code":"REQUISICAO_INVALIDA","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}},"post":{"tags":["Quadras - API"],"summary":"Upload de fotos da quadra (Admin)","description":"Papel: ADMIN dono da quadra ou Master Admin. `multipart/form-data` com uma ou mais partes `fotos` (JPEG, PNG ou WebP, até 5 MB cada). A galeria comporta no máximo 5 fotos: exceder devolve 400; arquivo maior que o limite, 413.","operationId":"uploadFotos","parameters":[{"name":"id","in":"path","description":"ID da quadra (`id_quadra`)","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"fotos":{"type":"array","description":"Arquivos de imagem (parte multipart `fotos`, repetível).","items":{"type":"string","format":"binary"}}},"required":["fotos"]}}}},"responses":{"200":{"description":"Quadra com a galeria atualizada","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuadraResponseDTO"},"example":{"id_quadra":1,"nome":"Arena Gol Society","tipoEsporte":"FUTEBOL","valorHora":120.0,"ativa":true,"cep":"15000-000","logradouro":"Av. Brasil, 1500","bairro":"Jardim das Flores","cidade":"São José do Rio Preto","estado":"SP","latitude":-20.8113,"longitude":-49.3758,"descricao":"Grama sintética padrão FIFA com iluminação em LED e vestiários.","dataLimiteAgendamento":"2026-12-31","fotos":["/uploads/quadras/3f2a9c1e-7b4d-4e8a-9c21-5d6f7e8a9b0c.jpg"],"disponibilidades":[{"diaSemana":"MONDAY","horaInicio":"08:00:00","horaFim":"22:00:00"}],"versao":3}}}},"400":{"description":"Requisição Inválida","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/bad-request","title":"Requisição Inválida","status":400,"detail":"Limite de 5 fotos por quadra atingido. Remova fotos existentes antes de enviar novas.","instance":"/api/quadras/{id}/fotos","code":"REQUISICAO_INVALIDA","timestamp":"2026-09-29T14:30:00.123456Z"}}}},"413":{"description":"Arquivo Muito Grande","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/tamanho-arquivo-excedido","title":"Arquivo Muito Grande","status":413,"detail":"O arquivo enviado excede o tamanho máximo permitido.","instance":"/api/quadras/{id}/fotos","code":"ARQUIVO_MUITO_GRANDE","timestamp":"2026-09-29T14:30:00.123456Z"}}}},"403":{"description":"Acesso Negado","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/acesso-negado","title":"Acesso Negado","status":403,"detail":"Apenas o administrador dono da quadra ou o Master Admin pode fazer upload de fotos.","instance":"/api/quadras/{id}/fotos","code":"ACESSO_NEGADO","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}},"delete":{"tags":["Quadras - API"],"summary":"Remover foto da quadra (Admin)","description":"Papel: ADMIN dono da quadra ou Master Admin. Remove a foto da galeria e o arquivo do disco. Devolve a quadra atualizada (200, com corpo).","operationId":"removerFoto","parameters":[{"name":"id","in":"path","description":"ID da quadra (`id_quadra`)","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"name":"fotoUrl","in":"query","description":"URL da foto exatamente como consta em `QuadraResponseDTO.fotos`. Obrigatório.","required":true,"schema":{"type":"string"},"example":"/uploads/quadras/3f2a9c1e-7b4d-4e8a-9c21-5d6f7e8a9b0c.jpg"}],"responses":{"200":{"description":"Quadra com a galeria sem a foto removida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuadraResponseDTO"},"example":{"id_quadra":1,"nome":"Arena Gol Society","tipoEsporte":"FUTEBOL","valorHora":120.0,"ativa":true,"cep":"15000-000","logradouro":"Av. Brasil, 1500","bairro":"Jardim das Flores","cidade":"São José do Rio Preto","estado":"SP","latitude":-20.8113,"longitude":-49.3758,"descricao":"Grama sintética padrão FIFA com iluminação em LED e vestiários.","dataLimiteAgendamento":"2026-12-31","fotos":[],"disponibilidades":[{"diaSemana":"MONDAY","horaInicio":"08:00:00","horaFim":"22:00:00"}],"versao":3}}}},"403":{"description":"Acesso Negado","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/acesso-negado","title":"Acesso Negado","status":403,"detail":"Apenas o administrador dono da quadra ou o Master Admin pode remover fotos.","instance":"/api/quadras/{id}/fotos","code":"ACESSO_NEGADO","timestamp":"2026-09-29T14:30:00.123456Z"}}}},"400":{"description":"Parâmetro Ausente","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/parametro-ausente","title":"Parâmetro Ausente","status":400,"detail":"O parâmetro obrigatório 'fotoUrl' não foi informado.","instance":"/api/quadras/{id}/fotos","code":"PARAMETRO_AUSENTE","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}}},"/api/quadras/{id}/bloqueios":{"get":{"tags":["Bloqueios - API"],"summary":"Listar bloqueios da quadra","description":"Papéis: CLIENT ou ADMIN. Lista os bloqueios ativos e futuros de uma quadra. Quadra inexistente devolve 400.","operationId":"listarBloqueios","parameters":[{"name":"id","in":"path","description":"ID da quadra (`id_quadra`)","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"Bloqueios ativos e futuros da quadra","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BloqueioHorarioResponseDTO"}},"example":[{"id":5,"quadraId":1,"data":"2026-10-12","horaInicio":"14:00:00","horaFim":"18:00:00","motivo":"Torneio Interno da Arena","criadoEm":"2026-09-29T09:30:00"}]}}},"400":{"description":"Requisição Inválida","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/bad-request","title":"Requisição Inválida","status":400,"detail":"A quadra informada não foi encontrada.","instance":"/api/quadras/{id}/bloqueios","code":"REQUISICAO_INVALIDA","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}},"post":{"tags":["Bloqueios - API"],"summary":"Criar bloqueio de horário ou dia inteiro (Admin)","description":"Papel: ADMIN dono da quadra ou Master Admin. Sem `horaInicio`/`horaFim` bloqueia o dia inteiro; com horário, ambos são obrigatórios e o início precisa ser anterior ao fim. A data não pode estar no passado. Falha com 400 se já houver reserva ativa no período ou bloqueio coincidente; se o dia já está totalmente bloqueado, a mensagem começa com `DIA_INTEIRO_BLOQUEADO` e `substituirDiaInteiro=true` desbloqueia o restante do dia mantendo só o novo intervalo.","operationId":"criarBloqueio","parameters":[{"name":"id","in":"path","description":"ID da quadra (`id_quadra`)","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BloqueioHorarioCriacaoDTO"},"example":{"data":"2026-10-12","horaInicio":"14:00:00","horaFim":"18:00:00","motivo":"Torneio Interno da Arena","substituirDiaInteiro":false}}},"required":true},"responses":{"201":{"description":"Bloqueio criado","content":{"application/json":{"example":{"id":5,"quadraId":1,"data":"2026-10-12","horaInicio":"14:00:00","horaFim":"18:00:00","motivo":"Torneio Interno da Arena","criadoEm":"2026-09-29T09:30:00"}}}},"400":{"description":"Requisição Inválida","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"examples":{"REQUISICAO_INVALIDA":{"summary":"Já existe um bloqueio cadastrado que coincide com este horário nesta data.","value":{"type":"https://api.equadras.com/erros/bad-request","title":"Requisição Inválida","status":400,"detail":"Já existe um bloqueio cadastrado que coincide com este horário nesta data.","instance":"/api/quadras/{id}/bloqueios","code":"REQUISICAO_INVALIDA","timestamp":"2026-09-29T14:30:00.123456Z"}},"REQUISICAO_INVALIDA_2":{"summary":"Não é possível bloquear este horário pois já existem reservas ativas no período.","value":{"type":"https://api.equadras.com/erros/bad-request","title":"Requisição Inválida","status":400,"detail":"Não é possível bloquear este horário pois já existem reservas ativas no período.","instance":"/api/quadras/{id}/bloqueios","code":"REQUISICAO_INVALIDA","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}},"422":{"description":"Dados Inválidos","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/validacao","title":"Dados Inválidos","status":422,"detail":"Dados inválidos: data: A data do bloqueio é obrigatória","instance":"/api/quadras/{id}/bloqueios","code":"ERRO_VALIDACAO","timestamp":"2026-09-29T14:30:00.123456Z","camposIncorretos":[{"campo":"Campo","mensagem":"Mensagem de validação do campo"}]}}}},"403":{"description":"Acesso Negado","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/acesso-negado","title":"Acesso Negado","status":403,"detail":"Apenas o administrador dono da quadra ou o Master Admin pode criar bloqueios.","instance":"/api/quadras/{id}/bloqueios","code":"ACESSO_NEGADO","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}}},"/api/quadras":{"get":{"tags":["Quadras - API"],"summary":"Listar quadras ativas, por proximidade e filtros","description":"Papéis: CLIENT ou ADMIN. Lista quadras ativas com filtros opcionais (texto parcial, sem diferenciar maiúsculas) e busca por proximidade (`latitude` + `longitude` + `raioKm`).\n\n**Formato da resposta** (decidido nesta ordem, a primeira regra que se aplica vence):\n1. `resumido=true|false` explícito;\n2. header `X-Client: frontend` ou `X-View: full` → completo;\n3. header `X-View: resumo|summary` ou `X-Client: api` → resumido;\n4. sem nada disso: URL com `/api/` → resumido (padrão de bots e integrações).\n\n**Variantes:** (a) resumido → `array<QuadraResumoResponseDTO>`; `page` e `size` são ignorados; (b) completo com `page` → `PageQuadraResponseDTO` (size padrão 6, máximo 50); (c) completo sem `page` → `array<QuadraResponseDTO>`.\n\n**Teto:** listas sem paginação (a e c) devolvem no máximo 200 itens, limite aplicado no SQL e sem aviso ao cliente: use `page` (formato completo) ou filtros para não perder resultados.","operationId":"listarTodas","parameters":[{"name":"latitude","in":"query","description":"Latitude do ponto de busca por proximidade (graus, -90 a 90). Só filtra se `longitude` também vier.","required":false,"schema":{"type":"number","format":"double"},"example":-20.8113},{"name":"longitude","in":"query","description":"Longitude do ponto de busca por proximidade (graus, -180 a 180). Só filtra se `latitude` também vier.","required":false,"schema":{"type":"number","format":"double"},"example":-49.3758},{"name":"raioKm","in":"query","description":"Raio da busca por proximidade, em km. Usado apenas com `latitude` e `longitude`.","required":false,"schema":{"type":"string"},"example":2.0},{"name":"tipoEsporte","in":"query","description":"Filtra pelo tipo de esporte. Valores: FUTEBOL, FUTSAL, VOLEI, BEACH_TENNIS, BASQUETE, TENIS.","required":false,"schema":{"type":"string"},"example":"FUTEBOL"},{"name":"nome","in":"query","description":"Filtra por parte do nome da quadra.","required":false,"schema":{"type":"string"},"example":"Arena"},{"name":"endereco","in":"query","description":"Filtra por parte do endereço (logradouro).","required":false,"schema":{"type":"string"},"example":"Av. Brasil"},{"name":"cidade","in":"query","description":"Filtra pela cidade.","required":false,"schema":{"type":"string"},"example":"São José do Rio Preto"},{"name":"bairro","in":"query","description":"Filtra pelo bairro.","required":false,"schema":{"type":"string"},"example":"Jardim das Flores"},{"name":"cep","in":"query","description":"Filtra pelo CEP.","required":false,"schema":{"type":"string"},"example":"15000-000"},{"name":"resumido","in":"query","description":"Força o formato: `true` = resumido (`QuadraResumoResponseDTO`), `false` = completo (`QuadraResponseDTO`). Quando informado, tem precedência sobre os headers `X-Client`/`X-View` e sobre a URL.","required":false,"schema":{"type":"boolean"},"example":true},{"name":"page","in":"query","description":"Índice da página, começando em 0. Só tem efeito no formato completo e o transforma em resposta paginada (`PageQuadraResponseDTO`). IGNORADO no formato resumido.","required":false,"schema":{"type":"integer","format":"int32"},"example":0},{"name":"size","in":"query","description":"Itens por página. Padrão 6; máximo 50 (valores maiores são limitados a 50; zero ou negativo volta para 6). Só tem efeito no formato completo com `page`. IGNORADO no formato resumido.","required":false,"schema":{"type":"string","maximum":50},"example":6},{"name":"X-Client","in":"header","description":"Identifica o cliente. `frontend` força o formato completo; `api` força o resumido (só vale se `resumido` não vier).","required":false,"schema":{"type":"string","enum":["frontend","api"]},"example":"api"},{"name":"X-View","in":"header","description":"Formato desejado. `full` = completo; `resumo` ou `summary` = resumido (só vale se `resumido` não vier). Se `X-Client` também vier, `X-Client: frontend` e `X-View: full` são avaliados antes de `X-View: resumo|summary` e `X-Client: api`.","required":false,"schema":{"type":"string","enum":["full","resumo","summary"]},"example":"resumo"}],"responses":{"200":{"description":"Formato resumido: `array<QuadraResumoResponseDTO>`. É o padrão em /api/quadras. `page` e `size` são ignorados e a lista é limitada a 200 itens.","content":{"application/json":{"schema":{"oneOf":[{"type":"array","items":{"$ref":"#/components/schemas/QuadraResumoResponseDTO"}},{"$ref":"#/components/schemas/PageQuadraResponseDTO"},{"type":"array","items":{"$ref":"#/components/schemas/QuadraResponseDTO"}}]},"examples":{"resumido":{"summary":"Formato resumido: `array<QuadraResumoResponseDTO>`. É o padrão em /api/quadras. `page` e `size` são ignorados e a lista é limitada a 200 itens.","value":[{"id_quadra":1,"nome":"Arena Gol Society","tipoEsporte":"FUTEBOL","valorHora":120.0,"endereco":"Av. Brasil, 1500, Jardim das Flores - São José do Rio Preto","cep":"15000-000"}]},"completoPaginado":{"summary":"Formato completo com `page`: `PageQuadraResponseDTO` (size padrão 6, máximo 50).","value":{"content":[{"id_quadra":1,"nome":"Arena Gol Society","tipoEsporte":"FUTEBOL","valorHora":120.0,"ativa":true,"cep":"15000-000","logradouro":"Av. Brasil, 1500","bairro":"Jardim das Flores","cidade":"São José do Rio Preto","estado":"SP","latitude":-20.8113,"longitude":-49.3758,"descricao":"Grama sintética padrão FIFA com iluminação em LED e vestiários.","dataLimiteAgendamento":"2026-12-31","fotos":["/uploads/quadras/3f2a9c1e-7b4d-4e8a-9c21-5d6f7e8a9b0c.jpg"],"disponibilidades":[{"diaSemana":"MONDAY","horaInicio":"08:00:00","horaFim":"22:00:00"}],"versao":3}],"pageable":{"pageNumber":0,"pageSize":6,"sort":{"empty":false,"sorted":true,"unsorted":false},"offset":0,"paged":true,"unpaged":false},"last":true,"totalPages":1,"totalElements":1,"size":6,"number":0,"sort":{"empty":false,"sorted":true,"unsorted":false},"first":true,"numberOfElements":1,"empty":false}},"completoLista":{"summary":"Formato completo sem `page`: `array<QuadraResponseDTO>`, limitada a 200 itens sem aviso.","value":[{"id_quadra":1,"nome":"Arena Gol Society","tipoEsporte":"FUTEBOL","valorHora":120.0,"ativa":true,"cep":"15000-000","logradouro":"Av. Brasil, 1500","bairro":"Jardim das Flores","cidade":"São José do Rio Preto","estado":"SP","latitude":-20.8113,"longitude":-49.3758,"descricao":"Grama sintética padrão FIFA com iluminação em LED e vestiários.","dataLimiteAgendamento":"2026-12-31","fotos":["/uploads/quadras/3f2a9c1e-7b4d-4e8a-9c21-5d6f7e8a9b0c.jpg"],"disponibilidades":[{"diaSemana":"MONDAY","horaInicio":"08:00:00","horaFim":"22:00:00"}],"versao":3}]}}}}},"400":{"description":"Parâmetro Inválido","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/parametro-invalido","title":"Parâmetro Inválido","status":400,"detail":"O parâmetro 'raioKm' possui um valor inválido: 'abc'.","instance":"/api/quadras","code":"PARAMETRO_INVALIDO","timestamp":"2026-09-29T14:30:00.123456Z"}}}},"401":{"description":"Não Autorizado","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"status":401,"title":"Não Autorizado","detail":"Acesso não autorizado: credencial ausente, expirada ou inválida."}}}}}},"post":{"tags":["Quadras - API"],"summary":"Cadastrar nova quadra (Admin)","description":"Papel: ADMIN (a quadra passa a pertencer ao administrador autenticado). Cria a quadra com valor/hora, localização, `dataLimiteAgendamento` opcional (não pode estar no passado), até 5 URLs de foto e até 7 regras de disponibilidade semanal (um dia da semana só pode aparecer uma vez). Idempotente por `Idempotency-Key`: reenvio com a mesma chave em até 10 minutos devolve a quadra já criada em vez de duplicar. O campo `versao` do corpo é ignorado no POST.","operationId":"cadastrar_1","parameters":[{"name":"Idempotency-Key","in":"header","description":"Chave gerada pelo cliente a cada formulário (ex.: UUID). Reenvios com a mesma chave em até 10 minutos devolvem a quadra já criada. Opcional: sem ela, cada chamada cria uma quadra.","required":false,"schema":{"type":"string"},"example":"7c9e6679-7425-40de-944b-e07fc1f90ae7"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuadraCriacaoDTO"},"example":{"nome":"Arena Gol Society","tipoEsporte":"FUTEBOL","valorHora":120.0,"cep":"15000-000","logradouro":"Av. Brasil, 1500","bairro":"Jardim das Flores","cidade":"São José do Rio Preto","estado":"SP","latitude":-20.8113,"longitude":-49.3758,"descricao":"Grama sintética padrão FIFA com iluminação em LED e vestiários.","dataLimiteAgendamento":"2026-12-31","fotos":[],"disponibilidades":[{"diaSemana":"MONDAY","horaInicio":"08:00:00","horaFim":"22:00:00"}]}}},"required":true},"responses":{"201":{"description":"Quadra criada. Reenvio com o mesmo `Idempotency-Key` em até 10 minutos devolve a quadra já criada.","content":{"application/json":{"example":{"id_quadra":1,"nome":"Arena Gol Society","tipoEsporte":"FUTEBOL","valorHora":120.0,"ativa":true,"cep":"15000-000","logradouro":"Av. Brasil, 1500","bairro":"Jardim das Flores","cidade":"São José do Rio Preto","estado":"SP","latitude":-20.8113,"longitude":-49.3758,"descricao":"Grama sintética padrão FIFA com iluminação em LED e vestiários.","dataLimiteAgendamento":"2026-12-31","fotos":["/uploads/quadras/3f2a9c1e-7b4d-4e8a-9c21-5d6f7e8a9b0c.jpg"],"disponibilidades":[{"diaSemana":"MONDAY","horaInicio":"08:00:00","horaFim":"22:00:00"}],"versao":3}}}},"422":{"description":"Dados Inválidos","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/validacao","title":"Dados Inválidos","status":422,"detail":"Dados inválidos: Nome: O nome deve ter entre 3 e 100 caracteres","instance":"/api/quadras","code":"ERRO_VALIDACAO","timestamp":"2026-09-29T14:30:00.123456Z","camposIncorretos":[{"campo":"Campo","mensagem":"Mensagem de validação do campo"}]}}}},"400":{"description":"Requisição Inválida","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/bad-request","title":"Requisição Inválida","status":400,"detail":"Uma quadra pode ter no máximo 5 fotos.","instance":"/api/quadras","code":"REQUISICAO_INVALIDA","timestamp":"2026-09-29T14:30:00.123456Z"}}}},"403":{"description":"Acesso Proibido","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"status":403,"title":"Acesso Proibido","detail":"Acesso proibido: sua credencial não possui permissão para executar esta operação."}}}},"401":{"description":"Não Autorizado","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"status":401,"title":"Não Autorizado","detail":"Acesso não autorizado: credencial ausente, expirada ou inválida."}}}}}}},"/api/pagamentos/{agendamentoId}/simular-aprovacao":{"post":{"tags":["Pagamentos - API"],"summary":"Simular aprovação de pagamento Pix","description":"Papéis: CLIENT ou ADMIN. Move uma reserva PENDENTE para CONFIRMADO sem passar pelo gateway e notifica o administrador da quadra por SSE. Reserva cancelada devolve 400 `STATUS_INVALIDO`; confirmação concorrente, 409 `CONFLITO_STATUS`. Devolve o `AgendamentoResponseDTO` atualizado.","operationId":"simularAprovacao","parameters":[{"name":"agendamentoId","in":"path","description":"ID do agendamento (`id_agendamento`)","required":true,"schema":{"type":"integer","format":"int64"},"example":42}],"responses":{"200":{"description":"Agendamento confirmado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgendamentoResponseDTO"},"example":{"id_agendamento":42,"usuarioId":10,"nomeUsuario":"Arthur Prado","telefoneUsuario":"(11) 99999-8888","quadraId":1,"nomeQuadra":"Arena Gol Society","dataHoraInicio":"2026-10-12T19:00:00","dataHoraFim":"2026-10-12T20:00:00","valorTotal":120.0,"status":"CONFIRMADO","transacaoPagamentoId":"mp-pix-987654321","pixCopiaECola":null,"qrCodeBase64":null,"criadoEm":"2026-09-29T15:30:00","canceladoEm":null}}}},"404":{"description":"Recurso Não Encontrado","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/recurso-nao-encontrado","title":"Recurso Não Encontrado","status":404,"detail":"Agendamento não encontrado. ID: 999","instance":"/api/pagamentos/{agendamentoId}/simular-aprovacao","code":"AGENDAMENTO_NAO_ENCONTRADO","timestamp":"2026-09-29T14:30:00.123456Z"}}}},"400":{"description":"Regra de Negócio Violada","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"examples":{"STATUS_INVALIDO":{"summary":"Não é possível confirmar pagamento de um agendamento cancelado.","value":{"type":"https://api.equadras.com/erros/regra-negocio-violada","title":"Regra de Negócio Violada","status":400,"detail":"Não é possível confirmar pagamento de um agendamento cancelado.","instance":"/api/pagamentos/{agendamentoId}/simular-aprovacao","code":"STATUS_INVALIDO","timestamp":"2026-09-29T14:30:00.123456Z"}},"ACESSO_NEGADO":{"summary":"Você não tem permissão para confirmar o pagamento deste agendamento.","value":{"type":"https://api.equadras.com/erros/regra-negocio-violada","title":"Regra de Negócio Violada","status":400,"detail":"Você não tem permissão para confirmar o pagamento deste agendamento.","instance":"/api/pagamentos/{agendamentoId}/simular-aprovacao","code":"ACESSO_NEGADO","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}},"409":{"description":"Regra de Negócio Violada","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/regra-negocio-violada","title":"Regra de Negócio Violada","status":409,"detail":"Não foi possível confirmar o agendamento pois ele foi expirado ou cancelado concorrentemente.","instance":"/api/pagamentos/{agendamentoId}/simular-aprovacao","code":"CONFLITO_STATUS","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}}},"/api/pagamentos/webhook":{"post":{"tags":["Pagamentos - API"],"summary":"Webhook do Mercado Pago","description":"Rota PÚBLICA, chamada pelo gateway. Identifica o pagamento por query (`topic=payment` ou `type=payment` com `id` ou `data.id`) ou pelo JSON (`type`/`action` contendo `payment` e `data.id`, ou `id`). Consulta o pagamento no Mercado Pago e, se `approved`, confirma o agendamento (`external_reference`). Respostas: `{status: ignored}` sem ID relevante; `{status: received}` se não aprovado; `{status: processed, payment_status: approved}` se confirmou; 500 `{status: error, message}` para o gateway reenviar.","operationId":"webhook","parameters":[{"name":"id","in":"query","description":"ID do pagamento no formato IPN (usado com `topic=payment` ou `type=payment`).","required":false,"schema":{"type":"string"},"example":987654321},{"name":"topic","in":"query","description":"Tópico IPN. Só `payment` é processado.","required":false,"schema":{"type":"string"},"example":"payment"},{"name":"type","in":"query","description":"Tipo do evento. Só valores contendo `payment` são processados.","required":false,"schema":{"type":"string"},"example":"payment"},{"name":"data.id","in":"query","description":"ID do pagamento no formato Webhooks V2 (`data.id`), usado se `id` não vier.","required":false,"schema":{"type":"string"},"example":987654321}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"responses":{"200":{"description":"Notificação sem ID de pagamento relevante: ignorada.","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}},"examples":{"ignored":{"summary":"Notificação sem ID de pagamento relevante: ignorada.","value":{"status":"ignored"}},"received":{"summary":"Pagamento consultado, mas ainda não aprovado (ou não encontrado no gateway).","value":{"status":"received"}},"processed":{"summary":"Pagamento aprovado e agendamento confirmado.","value":{"status":"processed","payment_status":"approved"}}}}}},"500":{"description":"Falha ao confirmar ou consultar o pagamento: o gateway deve reenviar.","content":{"application/json":{"examples":{"error":{"summary":"Falha ao confirmar ou consultar o pagamento: o gateway deve reenviar.","value":{"status":"error","message":"Falha ao processar confirmação de pagamento. Solicitando retentativa."}}}}}}},"security":[]}},"/api/agendamentos/bot":{"post":{"tags":["Agendamentos - API"],"summary":"Agendamento simplificado via Bot / WhatsApp","description":"Rota PÚBLICA (sem autenticação). Cria a reserva a partir de linguagem flexível. Efeito colateral: cria ou vincula o cliente pelo telefone (`telefoneCliente`, DDD + 8 ou 9 dígitos) e nome. Localiza a quadra por `quadraId`, `nomeQuadra` ou `tipoEsporte`. Aceita `data` como `hoje`, `amanha`, dia da semana, `15/09` ou ISO, e horas como `19h`, `19:00`, `19`. Sem `horaFim`, dura 1 hora. Devolve a reserva PENDENTE com Pix; expira em 15 min se não paga.","operationId":"agendarViaBot","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgendamentoBotRequestDTO"},"example":{"quadraId":1,"nomeQuadra":"Arena Gol Society","tipoEsporte":"FUTEBOL","data":"amanha","horaInicio":"19h","horaFim":"20:00","nomeCliente":"Arthur Prado","telefoneCliente":"11999998888"}}},"required":true},"responses":{"201":{"description":"Reserva criada em PENDENTE com Pix; cliente criado ou vinculado pelo telefone","content":{"application/json":{"example":{"id_agendamento":42,"usuarioId":10,"nomeUsuario":"Arthur Prado","telefoneUsuario":"(11) 99999-8888","quadraId":1,"nomeQuadra":"Arena Gol Society","dataHoraInicio":"2026-10-12T19:00:00","dataHoraFim":"2026-10-12T20:00:00","valorTotal":120.0,"status":"PENDENTE","transacaoPagamentoId":"mp-pix-987654321","pixCopiaECola":"00020126580014br.gov.bcb.pix0136a1b2c3d4-e5f6-7890-abcd-ef1234567890","qrCodeBase64":"iVBORw0KGgoAAAANSUhEUgAAAMgAAADI","criadoEm":"2026-09-29T15:30:00","canceladoEm":null}}}},"422":{"description":"Dados Inválidos","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/validacao","title":"Dados Inválidos","status":422,"detail":"Dados inválidos: data: A data da reserva é obrigatória","instance":"/api/agendamentos/bot","code":"ERRO_VALIDACAO","timestamp":"2026-09-29T14:30:00.123456Z","camposIncorretos":[{"campo":"Campo","mensagem":"Mensagem de validação do campo"}]}}}},"400":{"description":"Requisição Inválida","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"examples":{"REQUISICAO_INVALIDA":{"summary":"Nenhuma quadra encontrada para o esporte ou nome informado.","value":{"type":"https://api.equadras.com/erros/bad-request","title":"Requisição Inválida","status":400,"detail":"Nenhuma quadra encontrada para o esporte ou nome informado.","instance":"/api/agendamentos/bot","code":"REQUISICAO_INVALIDA","timestamp":"2026-09-29T14:30:00.123456Z"}},"REQUISICAO_INVALIDA_2":{"summary":"Formato de hora inválido: 25h","value":{"type":"https://api.equadras.com/erros/bad-request","title":"Requisição Inválida","status":400,"detail":"Formato de hora inválido: 25h","instance":"/api/agendamentos/bot","code":"REQUISICAO_INVALIDA","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}},"409":{"description":"Conflito de Horário","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/horario-indisponivel","title":"Conflito de Horário","status":409,"detail":"O horário selecionado conflita com outro agendamento já existente ou bloqueado para esta quadra.","instance":"/api/agendamentos/bot","code":"HORARIO_INDISPONIVEL","timestamp":"2026-09-29T14:30:00.123456Z"}}}}},"security":[]}},"/api/agendamentos":{"get":{"tags":["Agendamentos - API"],"summary":"Listar agendamentos (legado sem paginação)","description":"Papéis: CLIENT ou ADMIN. Variante sem `page`: lista única limitada a 200 itens no SQL, sem aviso. Prefira a rota paginada com `?page=0`.","operationId":"listarPaginado","parameters":[{"name":"aba","in":"query","description":"Aba: ATIVOS, REALIZADOS ou CANCELADOS. Obrigatória quando `apenasPendentes` é `false`.","required":false,"schema":{"type":"string","enum":["ATIVOS","REALIZADOS","CANCELADOS"]},"example":"ATIVOS"},{"name":"apenasPendentes","in":"query","description":"Se `true`, devolve apenas reservas PENDENTES ainda dentro do prazo de pagamento (15 min) e dispensa `aba`. Padrão `false`.","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"historico","in":"query","description":"Se `true`, devolve o histórico completo (inclusive realizadas e canceladas). Padrão `false`: só reservas ativas.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Página de agendamentos do usuário (com `page`). Sem `page` o código devolve uma lista simples, limitada a 200 itens.","content":{"application/json":{"schema":{"oneOf":[{"type":"array","items":{"$ref":"#/components/schemas/AgendamentoResponseDTO"}},{"$ref":"#/components/schemas/PageResponseAgendamentoResponseDTO"}]},"example":{"content":[{"id_agendamento":42,"usuarioId":10,"nomeUsuario":"Arthur Prado","telefoneUsuario":"(11) 99999-8888","quadraId":1,"nomeQuadra":"Arena Gol Society","dataHoraInicio":"2026-10-12T19:00:00","dataHoraFim":"2026-10-12T20:00:00","valorTotal":120.0,"status":"CONFIRMADO","transacaoPagamentoId":"mp-pix-987654321","pixCopiaECola":null,"qrCodeBase64":null,"criadoEm":"2026-09-29T15:30:00","canceladoEm":null}],"page":0,"size":10,"totalElements":1,"totalPages":1}}}},"400":{"description":"Requisição Inválida","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"examples":{"REQUISICAO_INVALIDA":{"summary":"Aba de agendamento é obrigatória.","value":{"type":"https://api.equadras.com/erros/bad-request","title":"Requisição Inválida","status":400,"detail":"Aba de agendamento é obrigatória.","instance":"/api/agendamentos","code":"REQUISICAO_INVALIDA","timestamp":"2026-09-29T14:30:00.123456Z"}},"PARAMETRO_INVALIDO":{"summary":"O parâmetro 'aba' possui um valor inválido: 'X'.","value":{"type":"https://api.equadras.com/erros/parametro-invalido","title":"Parâmetro Inválido","status":400,"detail":"O parâmetro 'aba' possui um valor inválido: 'X'.","instance":"/api/agendamentos","code":"PARAMETRO_INVALIDO","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}}},"deprecated":true},"post":{"tags":["Agendamentos - API"],"summary":"Criar novo agendamento com lock e Pix","description":"Papéis: CLIENT ou ADMIN (a reserva pertence ao usuário autenticado; `usuarioId` do corpo é opcional). Bloqueia o horário com lock pessimista, cria a reserva em estado PENDENTE e gera a cobrança Pix (`pixCopiaECola`, `qrCodeBase64`). Regras: horas cheias (minutos zerados), duração mínima de 1 hora e múltipla de 60 min, início no futuro. Efeito colateral: reserva PENDENTE sem pagamento expira e é cancelada automaticamente após 15 minutos. Conflito de horário devolve 409 `HORARIO_INDISPONIVEL`.","operationId":"agendar","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgendamentoCriacaoDTO"},"example":{"quadraId":1,"dataHoraInicio":"2026-10-12T19:00:00","dataHoraFim":"2026-10-12T20:00:00"}}},"required":true},"responses":{"201":{"description":"Reserva criada em estado PENDENTE, com os dados do Pix","content":{"application/json":{"example":{"id_agendamento":42,"usuarioId":10,"nomeUsuario":"Arthur Prado","telefoneUsuario":"(11) 99999-8888","quadraId":1,"nomeQuadra":"Arena Gol Society","dataHoraInicio":"2026-10-12T19:00:00","dataHoraFim":"2026-10-12T20:00:00","valorTotal":120.0,"status":"PENDENTE","transacaoPagamentoId":"mp-pix-987654321","pixCopiaECola":"00020126580014br.gov.bcb.pix0136a1b2c3d4-e5f6-7890-abcd-ef1234567890","qrCodeBase64":"iVBORw0KGgoAAAANSUhEUgAAAMgAAADI","criadoEm":"2026-09-29T15:30:00","canceladoEm":null}}}},"422":{"description":"Dados Inválidos","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/validacao","title":"Dados Inválidos","status":422,"detail":"Dados inválidos: Horário de início: A data de início deve estar no futuro","instance":"/api/agendamentos","code":"ERRO_VALIDACAO","timestamp":"2026-09-29T14:30:00.123456Z","camposIncorretos":[{"campo":"Campo","mensagem":"Mensagem de validação do campo"}]}}}},"400":{"description":"Regra de Negócio Violada","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"examples":{"INTERVALO_INVALIDO":{"summary":"A data/hora de término deve ser posterior à data/hora de início.","value":{"type":"https://api.equadras.com/erros/regra-negocio-violada","title":"Regra de Negócio Violada","status":400,"detail":"A data/hora de término deve ser posterior à data/hora de início.","instance":"/api/agendamentos","code":"INTERVALO_INVALIDO","timestamp":"2026-09-29T14:30:00.123456Z"}},"HORARIO_PASSADO":{"summary":"Não é possível realizar agendamentos em horários passados.","value":{"type":"https://api.equadras.com/erros/regra-negocio-violada","title":"Regra de Negócio Violada","status":400,"detail":"Não é possível realizar agendamentos em horários passados.","instance":"/api/agendamentos","code":"HORARIO_PASSADO","timestamp":"2026-09-29T14:30:00.123456Z"}},"FALHA_GATEWAY_PAGAMENTO":{"summary":"Não foi possível gerar a cobrança Pix no gateway de pagamento. O slot foi liberado.","value":{"type":"https://api.equadras.com/erros/regra-negocio-violada","title":"Regra de Negócio Violada","status":400,"detail":"Não foi possível gerar a cobrança Pix no gateway de pagamento. O slot foi liberado.","instance":"/api/agendamentos","code":"FALHA_GATEWAY_PAGAMENTO","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}},"409":{"description":"Conflito de Horário","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/horario-indisponivel","title":"Conflito de Horário","status":409,"detail":"O horário selecionado conflita com outro agendamento já existente ou bloqueado para esta quadra.","instance":"/api/agendamentos","code":"HORARIO_INDISPONIVEL","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}}},"/api/usuarios/minha-senha":{"patch":{"tags":["Usuários - API"],"summary":"Alterar minha senha","description":"Papéis: CLIENT ou ADMIN. Exige a senha atual; a nova precisa ter 6+ caracteres com maiúscula, minúscula, número e símbolo e ser diferente da atual. Responde 204 sem corpo.","operationId":"alterarMinhaSenha","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlterarSenhaDTO"},"example":{"senhaAtual":"SenhaVelha@123","novaSenha":"SenhaSuperSegura@456"}}},"required":true},"responses":{"204":{"description":"Senha alterada. Sem corpo."},"422":{"description":"Dados Inválidos","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/validacao","title":"Dados Inválidos","status":422,"detail":"Dados inválidos: novaSenha: A nova senha deve ter no mínimo 6 caracteres, incluindo 1 letra maiúscula, 1 minúscula, 1 número e 1 caractere especial/símbolo.","instance":"/api/usuarios/minha-senha","code":"ERRO_VALIDACAO","timestamp":"2026-09-29T14:30:00.123456Z","camposIncorretos":[{"campo":"Campo","mensagem":"Mensagem de validação do campo"}]}}}},"400":{"description":"Regra de Negócio Violada","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"examples":{"SENHA_INCORRETA":{"summary":"A senha atual informada está incorreta.","value":{"type":"https://api.equadras.com/erros/regra-negocio-violada","title":"Regra de Negócio Violada","status":400,"detail":"A senha atual informada está incorreta.","instance":"/api/usuarios/minha-senha","code":"SENHA_INCORRETA","timestamp":"2026-09-29T14:30:00.123456Z"}},"SENHA_REPETIDA":{"summary":"A nova senha deve ser diferente da senha atual.","value":{"type":"https://api.equadras.com/erros/regra-negocio-violada","title":"Regra de Negócio Violada","status":400,"detail":"A nova senha deve ser diferente da senha atual.","instance":"/api/usuarios/minha-senha","code":"SENHA_REPETIDA","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}}}}},"/api/quadras/{id}/status":{"patch":{"tags":["Quadras - API"],"summary":"Alternar status da quadra (Admin)","description":"Papel: ADMIN dono da quadra ou Master Admin. Ativa (`ativa=true`) ou inativa (`ativa=false`) a quadra. Quadras inativas deixam de aparecer nas listagens e de aceitar novos agendamentos.","operationId":"alternarStatus","parameters":[{"name":"id","in":"path","description":"ID da quadra (`id_quadra`)","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"name":"ativa","in":"query","description":"Novo estado: `true` ativa, `false` inativa. Obrigatório.","required":true,"schema":{"type":"boolean"},"example":false}],"responses":{"200":{"description":"Quadra com o novo status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuadraResponseDTO"},"example":{"id_quadra":1,"nome":"Arena Gol Society","tipoEsporte":"FUTEBOL","valorHora":120.0,"ativa":false,"cep":"15000-000","logradouro":"Av. Brasil, 1500","bairro":"Jardim das Flores","cidade":"São José do Rio Preto","estado":"SP","latitude":-20.8113,"longitude":-49.3758,"descricao":"Grama sintética padrão FIFA com iluminação em LED e vestiários.","dataLimiteAgendamento":"2026-12-31","fotos":["/uploads/quadras/3f2a9c1e-7b4d-4e8a-9c21-5d6f7e8a9b0c.jpg"],"disponibilidades":[{"diaSemana":"MONDAY","horaInicio":"08:00:00","horaFim":"22:00:00"}],"versao":3}}}},"403":{"description":"Acesso Negado","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/acesso-negado","title":"Acesso Negado","status":403,"detail":"Apenas o administrador dono da quadra ou o Master Admin pode alterar seu status.","instance":"/api/quadras/{id}/status","code":"ACESSO_NEGADO","timestamp":"2026-09-29T14:30:00.123456Z"}}}},"400":{"description":"Requisição Inválida","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"examples":{"REQUISICAO_INVALIDA":{"summary":"A quadra informada não foi encontrada.","value":{"type":"https://api.equadras.com/erros/bad-request","title":"Requisição Inválida","status":400,"detail":"A quadra informada não foi encontrada.","instance":"/api/quadras/{id}/status","code":"REQUISICAO_INVALIDA","timestamp":"2026-09-29T14:30:00.123456Z"}},"PARAMETRO_AUSENTE":{"summary":"O parâmetro obrigatório 'ativa' não foi informado.","value":{"type":"https://api.equadras.com/erros/parametro-ausente","title":"Parâmetro Ausente","status":400,"detail":"O parâmetro obrigatório 'ativa' não foi informado.","instance":"/api/quadras/{id}/status","code":"PARAMETRO_AUSENTE","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}}}}},"/api/agendamentos/{id}/cancelar":{"patch":{"tags":["Agendamentos - API"],"summary":"Cancelar agendamento","description":"Papéis: CLIENT ou ADMIN. Dono da reserva ou administrador da quadra. Só cancela reserva futura ainda não cancelada (400 se já cancelada, em andamento ou retroativa). Libera o horário e grava `canceladoEm`.","operationId":"cancelar","parameters":[{"name":"id","in":"path","description":"ID do agendamento (`id_agendamento`)","required":true,"schema":{"type":"integer","format":"int64"},"example":42}],"responses":{"200":{"description":"Agendamento cancelado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgendamentoResponseDTO"},"example":{"id_agendamento":42,"usuarioId":10,"nomeUsuario":"Arthur Prado","telefoneUsuario":"(11) 99999-8888","quadraId":1,"nomeQuadra":"Arena Gol Society","dataHoraInicio":"2026-10-12T19:00:00","dataHoraFim":"2026-10-12T20:00:00","valorTotal":120.0,"status":"CANCELADO","transacaoPagamentoId":"mp-pix-987654321","pixCopiaECola":null,"qrCodeBase64":null,"criadoEm":"2026-09-29T15:30:00","canceladoEm":"2026-09-30T08:00:00"}}}},"404":{"description":"Recurso Não Encontrado","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/recurso-nao-encontrado","title":"Recurso Não Encontrado","status":404,"detail":"Agendamento não encontrado para o ID: 999","instance":"/api/agendamentos/{id}/cancelar","code":"AGENDAMENTO_NAO_ENCONTRADO","timestamp":"2026-09-29T14:30:00.123456Z"}}}},"400":{"description":"Requisição Inválida","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"examples":{"REQUISICAO_INVALIDA":{"summary":"Este agendamento já está cancelado.","value":{"type":"https://api.equadras.com/erros/bad-request","title":"Requisição Inválida","status":400,"detail":"Este agendamento já está cancelado.","instance":"/api/agendamentos/{id}/cancelar","code":"REQUISICAO_INVALIDA","timestamp":"2026-09-29T14:30:00.123456Z"}},"REQUISICAO_INVALIDA_2":{"summary":"Não é possível cancelar um agendamento que está em andamento ou retroativo.","value":{"type":"https://api.equadras.com/erros/bad-request","title":"Requisição Inválida","status":400,"detail":"Não é possível cancelar um agendamento que está em andamento ou retroativo.","instance":"/api/agendamentos/{id}/cancelar","code":"REQUISICAO_INVALIDA","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}},"403":{"description":"Acesso Negado","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/acesso-negado","title":"Acesso Negado","status":403,"detail":"Você não tem permissão para cancelar este agendamento.","instance":"/api/agendamentos/{id}/cancelar","code":"ACESSO_NEGADO","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}}},"/api/usuarios/me":{"get":{"tags":["Usuários - API"],"summary":"Dados da minha sessão","description":"Papéis: CLIENT ou ADMIN. Devolve o perfil do usuário autenticado (cookie de sessão, Bearer ou X-API-KEY).","operationId":"me","responses":{"200":{"description":"Perfil do usuário autenticado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsuarioResponseDTO"},"example":{"id_usuario":10,"nome_usuario":"Arthur Prado","email_usuario":"arthur.prado@email.com","phone_usuario":"(11) 99999-8888","role":"CLIENT","criadoEm":"2026-09-04T10:00:00","masterAdmin":false}}}},"401":{"description":"Não Autorizado","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"status":401,"title":"Não Autorizado","detail":"Acesso não autorizado: credencial ausente, expirada ou inválida."}}}}}}},"/api/usuarios/api-key":{"get":{"tags":["Usuários - API"],"summary":"Consultar metadados da minha API-KEY","description":"Papéis: CLIENT ou ADMIN. Informa se a conta possui chave, os 4 últimos caracteres e as datas de criação e último uso. Nunca devolve a chave em texto plano.","operationId":"obterApiKeyInfo","responses":{"200":{"description":"Metadados da chave de API (nunca a chave em texto plano)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyInfoDTO"},"example":{"possuiChave":true,"last4":"a1b2","criadaEm":"2026-09-20T12:00:00Z","ultimoUsoEm":"2026-09-28T18:45:10Z"}}}},"401":{"description":"Não Autorizado","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"status":401,"title":"Não Autorizado","detail":"Acesso não autorizado: credencial ausente, expirada ou inválida."}}}}}},"delete":{"tags":["Usuários - API"],"summary":"Revogar API-KEY","description":"Papéis: CLIENT ou ADMIN. Invalida a chave da conta sem gerar substituta. Idempotente: sem chave ativa também responde 204. Registra IP e User-Agent.","operationId":"revogarApiKey","responses":{"204":{"description":"Chave revogada (operação idempotente: sem chave ativa também devolve 204)"},"401":{"description":"Não Autorizado","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"status":401,"title":"Não Autorizado","detail":"Acesso não autorizado: credencial ausente, expirada ou inválida."}}}}}}},"/api/quadras/fotos":{"get":{"tags":["Quadras - API"],"summary":"Consultar fotos da quadra","description":"Papéis: CLIENT ou ADMIN. Devolve a galeria por quadra. O formato depende dos parâmetros:\n- Com ID (path `/{id}/fotos`, ou `id`/`quadraId` na query; precedência: path, depois `id`, depois `quadraId`): um objeto `QuadraFotosResponseDTO`; ID inexistente devolve 400.\n- Sem ID e sem nenhum filtro de texto (`nome`, `tipoEsporte`, `cidade`, `bairro`): lista com TODAS as quadras (até 200).\n- Com filtro e exatamente uma correspondência: objeto único.\n- Com filtro e várias correspondências: lista.\n- Com filtro e nenhuma correspondência: `{\"fotos\": []}`.\nAliases: `nomeQuadra` vale como `nome`, e `esporte` como `tipoEsporte`; se ambos vierem, o principal (`nome`/`tipoEsporte`) vence.","operationId":"consultarFotos_1","parameters":[{"name":"id","in":"query","description":"ID da quadra na query. Usado se não houver ID no path.","required":false,"schema":{"type":"integer","format":"int64"},"example":1},{"name":"quadraId","in":"query","description":"Alias de `id`. Usado se não houver ID no path nem `id` na query.","required":false,"schema":{"type":"integer","format":"int64"},"example":1},{"name":"nome","in":"query","description":"Filtra por parte do nome da quadra.","required":false,"schema":{"type":"string"},"example":"Arena"},{"name":"nomeQuadra","in":"query","description":"Alias de `nome`. Só vale se `nome` estiver vazio.","required":false,"schema":{"type":"string"},"example":"Arena"},{"name":"tipoEsporte","in":"query","description":"Filtra pelo tipo de esporte (FUTEBOL, FUTSAL, VOLEI, BEACH_TENNIS, BASQUETE, TENIS).","required":false,"schema":{"type":"string"},"example":"FUTEBOL"},{"name":"esporte","in":"query","description":"Alias de `tipoEsporte`. Só vale se `tipoEsporte` estiver vazio.","required":false,"schema":{"type":"string"},"example":"FUTEBOL"},{"name":"cidade","in":"query","description":"Filtra pela cidade.","required":false,"schema":{"type":"string"},"example":"São José do Rio Preto"},{"name":"bairro","in":"query","description":"Filtra pelo bairro.","required":false,"schema":{"type":"string"},"example":"Jardim das Flores"}],"responses":{"200":{"description":"Uma quadra: com `id` (path ou query) ou quando o filtro corresponde a exatamente uma quadra.","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/QuadraFotosResponseDTO"},{"type":"array","items":{"$ref":"#/components/schemas/QuadraFotosResponseDTO"}},{"$ref":"#/components/schemas/FotosSemResultado"}]},"examples":{"quadraUnica":{"summary":"Uma quadra: com `id` (path ou query) ou quando o filtro corresponde a exatamente uma quadra.","value":{"id_quadra":1,"nome":"Arena Gol Society","tipoEsporte":"FUTEBOL","cidade":"São José do Rio Preto","bairro":"Jardim das Flores","fotos":["/uploads/quadras/3f2a9c1e-7b4d-4e8a-9c21-5d6f7e8a9b0c.jpg"]}},"lista":{"summary":"Lista de quadras: sem filtro (todas, até 200) ou filtro com várias correspondências.","value":[{"id_quadra":1,"nome":"Arena Gol Society","tipoEsporte":"FUTEBOL","cidade":"São José do Rio Preto","bairro":"Jardim das Flores","fotos":["/uploads/quadras/3f2a9c1e-7b4d-4e8a-9c21-5d6f7e8a9b0c.jpg"]}]},"semResultado":{"summary":"Filtro sem nenhuma quadra correspondente.","value":{"fotos":[]}}}}}},"400":{"description":"Requisição Inválida","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/bad-request","title":"Requisição Inválida","status":400,"detail":"A quadra informada não foi encontrada.","instance":"/api/quadras/fotos","code":"REQUISICAO_INVALIDA","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}}},"/api/quadras/bloqueios":{"get":{"tags":["Bloqueios - API"],"summary":"Listar bloqueios de todas as quadras do Admin (Admin)","description":"Papel: ADMIN. Reúne em uma chamada os bloqueios de todas as quadras do administrador autenticado.","operationId":"listarTodosBloqueiosDoAdmin","responses":{"200":{"description":"Bloqueios de todas as quadras do administrador autenticado","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BloqueioHorarioResponseDTO"}},"example":[{"id":5,"quadraId":1,"data":"2026-10-12","horaInicio":"14:00:00","horaFim":"18:00:00","motivo":"Torneio Interno da Arena","criadoEm":"2026-09-29T09:30:00"}]}}}}}},"/api/pagamentos/{agendamentoId}/status":{"get":{"tags":["Pagamentos - API"],"summary":"Consultar status de pagamento da reserva","description":"Papéis: CLIENT ou ADMIN. Devolve o `AgendamentoResponseDTO` (o campo `status` é PENDENTE, CONFIRMADO ou CANCELADO). Efeito colateral: se a reserva está PENDENTE e tem `transacaoPagamentoId`, consulta o Mercado Pago e, se o pagamento estiver `approved`, confirma a reserva antes de responder. ID inexistente ou fora do seu escopo devolve 404.","operationId":"consultarStatus","parameters":[{"name":"agendamentoId","in":"path","description":"ID do agendamento (`id_agendamento`)","required":true,"schema":{"type":"integer","format":"int64"},"example":42}],"responses":{"200":{"description":"Agendamento com o status atual (`PENDENTE`, `CONFIRMADO` ou `CANCELADO`)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgendamentoResponseDTO"},"example":{"id_agendamento":42,"usuarioId":10,"nomeUsuario":"Arthur Prado","telefoneUsuario":"(11) 99999-8888","quadraId":1,"nomeQuadra":"Arena Gol Society","dataHoraInicio":"2026-10-12T19:00:00","dataHoraFim":"2026-10-12T20:00:00","valorTotal":120.0,"status":"CONFIRMADO","transacaoPagamentoId":"mp-pix-987654321","pixCopiaECola":null,"qrCodeBase64":null,"criadoEm":"2026-09-29T15:30:00","canceladoEm":null}}}},"404":{"description":"Recurso Não Encontrado","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/recurso-nao-encontrado","title":"Recurso Não Encontrado","status":404,"detail":"Agendamento não encontrado. ID: 999","instance":"/api/pagamentos/{agendamentoId}/status","code":"AGENDAMENTO_NAO_ENCONTRADO","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}}},"/api/notificacoes/stream":{"get":{"tags":["Notificações - API"],"summary":"Streaming SSE de notificações","description":"Papel: ADMIN. Abre uma conexão Server-Sent Events (`text/event-stream`, timeout de 1 hora, uma conexão por administrador: nova conexão substitui a anterior). Cada notificação chega como evento `notificacao` com `data` JSON `{id, mensagem, lida, dataCriacao}`. Os eventos são enviados após o commit da reserva ou pagamento que os originou.","operationId":"stream","responses":{"200":{"description":"Conexão SSE aberta (timeout de 1 hora). Cada notificação chega como evento `notificacao`.","content":{"text/event-stream":{"schema":{"$ref":"#/components/schemas/SseEmitter"},"example":"event: notificacao\ndata: {\"id\":1,\"mensagem\":\"Nova reserva confirmada: Arthur Prado em Arena Gol Society às 19:00.\",\"lida\":false,\"dataCriacao\":\"2026-09-29T15:31:00\"}\n\n"}}},"403":{"description":"Acesso Proibido","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"status":403,"title":"Acesso Proibido","detail":"Acesso proibido: sua credencial não possui permissão para executar esta operação."}}}}}}},"/api/notificacoes/admin":{"get":{"tags":["Notificações - API"],"summary":"Listar notificações do administrador","description":"Papel: ADMIN. Página (`Page`) das notificações de reservas e pagamentos do administrador autenticado, sem as excluídas. `size` é limitado a 50.","operationId":"listarPorAdmin","parameters":[{"name":"page","in":"query","description":"Índice da página, começando em 0.","required":false,"schema":{"type":"string"},"example":0},{"name":"size","in":"query","description":"Itens por página. Padrão 5; máximo 50 (valores maiores são limitados a 50).","required":false,"schema":{"type":"string","maximum":50},"example":5}],"responses":{"200":{"description":"Página de notificações do administrador (as excluídas não voltam)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageNotificacaoResponseDTO"},"example":{"content":[{"id":1,"mensagem":"Nova reserva confirmada: Arthur Prado em Arena Gol Society às 19:00.","lida":false,"excluida":false,"dataCriacao":"2026-09-29T15:31:00"}],"pageable":{"pageNumber":0,"pageSize":5,"sort":{"empty":true,"sorted":false,"unsorted":true},"offset":0,"paged":true,"unpaged":false},"last":true,"totalPages":1,"totalElements":1,"size":5,"number":0,"sort":{"empty":true,"sorted":false,"unsorted":true},"first":true,"numberOfElements":1,"empty":false}}}},"403":{"description":"Acesso Proibido","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"status":403,"title":"Acesso Proibido","detail":"Acesso proibido: sua credencial não possui permissão para executar esta operação."}}}}}}},"/api/agendamentos/{id}":{"get":{"tags":["Agendamentos - API"],"summary":"Buscar agendamento por ID","description":"Papéis: CLIENT ou ADMIN. Dono da reserva, administrador da quadra ou Master Admin. `pixCopiaECola` e `qrCodeBase64` só vêm preenchidos para o dono e enquanto o status é PENDENTE. ID inexistente OU fora do seu escopo devolve 404 `AGENDAMENTO_NAO_ENCONTRADO` (nunca 403).","operationId":"buscarPorId_2","parameters":[{"name":"id","in":"path","description":"ID do agendamento (`id_agendamento`)","required":true,"schema":{"type":"integer","format":"int64"},"example":42}],"responses":{"200":{"description":"Agendamento (Pix só aparece para o dono, enquanto PENDENTE)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgendamentoResponseDTO"},"example":{"id_agendamento":42,"usuarioId":10,"nomeUsuario":"Arthur Prado","telefoneUsuario":"(11) 99999-8888","quadraId":1,"nomeQuadra":"Arena Gol Society","dataHoraInicio":"2026-10-12T19:00:00","dataHoraFim":"2026-10-12T20:00:00","valorTotal":120.0,"status":"CONFIRMADO","transacaoPagamentoId":"mp-pix-987654321","pixCopiaECola":null,"qrCodeBase64":null,"criadoEm":"2026-09-29T15:30:00","canceladoEm":null}}}},"404":{"description":"Recurso Não Encontrado","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/recurso-nao-encontrado","title":"Recurso Não Encontrado","status":404,"detail":"Agendamento não encontrado. ID: 999","instance":"/api/agendamentos/{id}","code":"AGENDAMENTO_NAO_ENCONTRADO","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}}},"/api/agendamentos/quadra/{quadraId}/horarios-disponiveis":{"get":{"tags":["Agendamentos - API"],"summary":"Consultar horários de uma quadra na data","description":"Papéis: CLIENT ou ADMIN. Grade de horários de 1 hora com `status`: DISPONIVEL, BLOQUEADO, AGENDADO ou INDISPONIVEL, o `motivo` e o booleano `disponivel`. `data` é obrigatória (ISO, `yyyy-MM-dd`); quadra inexistente devolve 400.","operationId":"listarHorariosDisponiveis","parameters":[{"name":"quadraId","in":"path","description":"ID da quadra (`id_quadra`)","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"name":"data","in":"query","description":"Data consultada, formato ISO `yyyy-MM-dd`. Obrigatório.","required":true,"schema":{"type":"string","format":"date"},"example":"2026-10-12"}],"responses":{"200":{"description":"Grade de horários de 1 hora da quadra na data","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/HorarioDisponivelDTO"}},"example":[{"inicio":"18:00:00","fim":"19:00:00","disponivel":true,"status":"DISPONIVEL","motivo":"Disponível"},{"inicio":"19:00:00","fim":"20:00:00","disponivel":false,"status":"AGENDADO","motivo":"Horário ocupado"},{"inicio":"20:00:00","fim":"21:00:00","disponivel":false,"status":"BLOQUEADO","motivo":"Bloqueado: Torneio Interno da Arena"}]}}},"400":{"description":"Requisição Inválida","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"examples":{"REQUISICAO_INVALIDA":{"summary":"A quadra informada não foi encontrada.","value":{"type":"https://api.equadras.com/erros/bad-request","title":"Requisição Inválida","status":400,"detail":"A quadra informada não foi encontrada.","instance":"/api/agendamentos/quadra/{quadraId}/horarios-disponiveis","code":"REQUISICAO_INVALIDA","timestamp":"2026-09-29T14:30:00.123456Z"}},"PARAMETRO_AUSENTE":{"summary":"O parâmetro obrigatório 'data' não foi informado.","value":{"type":"https://api.equadras.com/erros/parametro-ausente","title":"Parâmetro Ausente","status":400,"detail":"O parâmetro obrigatório 'data' não foi informado.","instance":"/api/agendamentos/quadra/{quadraId}/horarios-disponiveis","code":"PARAMETRO_AUSENTE","timestamp":"2026-09-29T14:30:00.123456Z"}},"PARAMETRO_INVALIDO":{"summary":"O parâmetro 'data' possui um valor inválido: 'amanha'.","value":{"type":"https://api.equadras.com/erros/parametro-invalido","title":"Parâmetro Inválido","status":400,"detail":"O parâmetro 'data' possui um valor inválido: 'amanha'.","instance":"/api/agendamentos/quadra/{quadraId}/horarios-disponiveis","code":"PARAMETRO_INVALIDO","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}}}}},"/api/agendamentos/quadra/{quadraId}/contadores":{"get":{"tags":["Agendamentos - API"],"summary":"Contadores das reservas de uma quadra (Admin)","description":"Papel: ADMIN dono da quadra ou Master Admin. Devolve TODOS, ATIVOS, REALIZADOS e CANCELADOS.","operationId":"obterContadoresPorQuadra","parameters":[{"name":"quadraId","in":"path","description":"ID da quadra (`id_quadra`)","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"Contadores das reservas da quadra","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"integer","format":"int64"}},"example":{"TODOS":16,"ATIVOS":3,"REALIZADOS":12,"CANCELADOS":1}}}},"400":{"description":"Requisição Inválida","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/bad-request","title":"Requisição Inválida","status":400,"detail":"A quadra informada não foi encontrada.","instance":"/api/agendamentos/quadra/{quadraId}/contadores","code":"REQUISICAO_INVALIDA","timestamp":"2026-09-29T14:30:00.123456Z"}}}},"403":{"description":"Acesso Negado","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/acesso-negado","title":"Acesso Negado","status":403,"detail":"Você não tem permissão para visualizar o histórico desta quadra.","instance":"/api/agendamentos/quadra/{quadraId}/contadores","code":"ACESSO_NEGADO","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}}},"/api/agendamentos/quadra/{quadraId}":{"get":{"tags":["Agendamentos - API"],"summary":"Listar histórico de agendamentos de uma quadra específica (legado sem paginação)","description":"Papel: ADMIN dono da quadra ou Master Admin. Variante sem `page`: lista única (até 200 itens, sem aviso). Prefira a rota paginada com `?page=0`.","operationId":"listarPorQuadraPaginado","parameters":[{"name":"quadraId","in":"path","description":"ID da quadra (`id_quadra`)","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"name":"aba","in":"query","description":"Aba: ATIVOS, REALIZADOS ou CANCELADOS. Opcional.","required":false,"schema":{"type":"string","enum":["ATIVOS","REALIZADOS","CANCELADOS"]},"example":"ATIVOS"},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"Página de reservas da quadra (com `page`). Sem `page` o código devolve uma lista simples de até 200 itens.","content":{"application/json":{"schema":{"oneOf":[{"type":"array","items":{"$ref":"#/components/schemas/AgendamentoResponseDTO"}},{"$ref":"#/components/schemas/PageResponseAgendamentoResponseDTO"}]},"example":{"content":[{"id_agendamento":42,"usuarioId":10,"nomeUsuario":"Arthur Prado","telefoneUsuario":"(11) 99999-8888","quadraId":1,"nomeQuadra":"Arena Gol Society","dataHoraInicio":"2026-10-12T19:00:00","dataHoraFim":"2026-10-12T20:00:00","valorTotal":120.0,"status":"CONFIRMADO","transacaoPagamentoId":"mp-pix-987654321","pixCopiaECola":null,"qrCodeBase64":null,"criadoEm":"2026-09-29T15:30:00","canceladoEm":null}],"page":0,"size":10,"totalElements":1,"totalPages":1}}}},"400":{"description":"Requisição Inválida","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/bad-request","title":"Requisição Inválida","status":400,"detail":"A quadra informada não foi encontrada.","instance":"/api/agendamentos/quadra/{quadraId}","code":"REQUISICAO_INVALIDA","timestamp":"2026-09-29T14:30:00.123456Z"}}}},"403":{"description":"Acesso Negado","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/acesso-negado","title":"Acesso Negado","status":403,"detail":"Você não tem permissão para visualizar o histórico desta quadra.","instance":"/api/agendamentos/quadra/{quadraId}","code":"ACESSO_NEGADO","timestamp":"2026-09-29T14:30:00.123456Z"}}}}},"deprecated":true}},"/api/agendamentos/horarios-disponiveis":{"get":{"tags":["Agendamentos - API"],"summary":"Consultar grade consolidada de horários (busca flexível)","description":"Papéis: CLIENT ou ADMIN. Grade por quadra com filtros combináveis: `data` (omitida ou não reconhecida: devolve os próximos 14 dias, a partir de hoje, um item por quadra e dia), `quadraId`, `nomeQuadra`, `tipoEsporte`. `apenasDisponiveis=true` mantém só os horários livres.","operationId":"consultarGradeHorarios","parameters":[{"name":"data","in":"query","description":"Data flexível: `hoje`, `amanha`, dia da semana ou ISO `yyyy-MM-dd`. Omitida ou não reconhecida: a resposta cobre os próximos 14 dias a partir de hoje.","required":false,"schema":{"type":"string"},"example":"amanha"},{"name":"quadraId","in":"query","description":"Restringe a uma quadra pelo ID.","required":false,"schema":{"type":"integer","format":"int64"},"example":1},{"name":"tipoEsporte","in":"query","description":"Filtra pelo tipo de esporte (FUTEBOL, FUTSAL, VOLEI, BEACH_TENNIS, BASQUETE, TENIS).","required":false,"schema":{"type":"string"},"example":"FUTEBOL"},{"name":"nomeQuadra","in":"query","description":"Filtra por parte do nome da quadra.","required":false,"schema":{"type":"string"},"example":"Arena"},{"name":"apenasDisponiveis","in":"query","description":"Se `true`, devolve só horários livres. Padrão `false`.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Grade consolidada por quadra","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GradeHorariosResponseDTO"}},"example":[{"id_quadra":1,"nome_quadra":"Arena Gol Society","tipoEsporte":"FUTEBOL","valorHora":120.0,"data":"2026-10-12","horarios":[{"inicio":"18:00:00","fim":"19:00:00","disponivel":true,"status":"DISPONIVEL","motivo":"Disponível"},{"inicio":"19:00:00","fim":"20:00:00","disponivel":false,"status":"AGENDADO","motivo":"Horário ocupado"},{"inicio":"20:00:00","fim":"21:00:00","disponivel":false,"status":"BLOQUEADO","motivo":"Bloqueado: Torneio Interno da Arena"}]}]}}},"400":{"description":"Requisição Inválida","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemaErro"},"example":{"type":"https://api.equadras.com/erros/bad-request","title":"Requisição Inválida","status":400,"detail":"A quadra informada não foi encontrada.","instance":"/api/agendamentos/horarios-disponiveis","code":"REQUISICAO_INVALIDA","timestamp":"2026-09-29T14:30:00.123456Z"}}}}}}},"/api/agendamentos/dia":{"get":{"tags":["Agendamentos - API"],"summary":"Consultar horários do dia de todas a
[...]
